<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!</a></p>
</div>

<div class="row marketing"  ng-controller="MainCtrl">
    
<!--    <p translate="HEADLINE"></p>-->
<!--    <p translate="BUTTON_LANG_DE"></p>-->
    <!---->
    
    
    The attribute ones show from index.json
    <p translate="HEADLINE"></p>
    <p translate="BUTTON_LANG_DE"></p>

    These two show from index.json
    <p> {{'HEADLINE' | translate}} </p>
    <p> {{'BUTTON_LANG_DE' | translate}} </p>

    <h4>Angular</h4>
    <p>
        AngularJS is a toolset for building the framework most suited to your application development.
    </p>

    <h4>Karma</h4>
    <p>Spectacular Test Runner for JavaScript.</p>


    <!--    <p translate="PASSED_AS_ATTRIBUTE"></p>-->
    <!--    <p translate="NAMESPACE.PARAGRAPH"></p>-->
    <!--    <p translate="BUTTON_LANG_EN"></p>-->

    <!--<p translate="VARIABLE_REPLACEMENT" translate-values="{ name: 'Farooq' }"></p>-->


</div>

